
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>试卷测试部分</title>
<link href="http://api.yuliao.hujiang.com/Content/jbox/blue/jbox.css" rel="stylesheet" type="text/css" />
<link href="css/style0.css" rel="stylesheet" type="text/css" />
<style>
.head { background:url(img/head_banner.png) no-repeat center;height:290px; position:relative; width:100%}
</style>
</head>
<body>
    <form name="Form1" method="post" action="/lesson/218956/quiz/50223_2" id="Form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTU3NzA5MjgyMxBkZBYCAgEPFgIeBmFjdGlvbgUbL2xlc3Nvbi8yMTg5NTYvcXVpei81MDIyM18yZGRvazc2806g359rEy/ubpXZ0BPbYg==" />
</div>

    <div id="wrapper">
	<div class="head"></div>
        <div id="container">
			<div id="navbar">
				<div class="navbar_container">
				    <span class="ctrl"><a href="javascript:" onclick="submitAnswers();">提交测试</a></span>
					<span class="time">正在答题：<em>00:00:00</em></span>
					<span class="info">已做<em>0</em>题&nbsp;/&nbsp;共<em>0</em>题</span>
				</div>
			</div>
			<div class="clear"></div>
            <div id="main">
				<div id="loading" style="text-align: center;"><img src='http://res.c.hjfile.cn/images/ajax-loader.gif' /></div>
				
            </div>
			
        </div>
    </div>
    <input name="key" type="hidden" id="key" />
    <input name="answers" type="hidden" id="answers" />
	</form>
</body>
</html>
<script src="http://api.yuliao.hujiang.com/Scripts/jquery-1.8.2.min.js" type="text/javascript"> </script>
<script src="http://api.yuliao.hujiang.com/Scripts/jquery.color.js" type="text/javascript"> </script>
<script src="http://api.yuliao.hujiang.com/Scripts/jQuery.tmpl.min.js" type="text/javascript"></script>
<script src="http://api.yuliao.hujiang.com/Scripts/jBox/jquery.jBox-2.3.min.js" type="text/javascript"></script>
<script src="http://api.yuliao.hujiang.com/Scripts/json2.min.js" type="text/javascript"></script>
<script src="http://res.c.hjfile.cn/js/gotop.js" type="text/javascript"> </script>
<script type="text/javascript" src="http://common.hjfile.cn/analytics/site/class.js"></script>
<script type="text/javascript">
    String.prototype.padLeft = function(len, ch) {
        ch = typeof(ch) === 'undefined' ? ' ' : ch;
        var s = String(this);
        while (s.length < len)
            s = ch + s;
        return s;
    };
	Date.prototype.getSpanString = function() {
	    return this.getUTCHours().toString().padLeft(2, '0')
	        + ':' + this.getMinutes().toString().padLeft(2, '0')
	        + ':' + this.getSeconds().toString().padLeft(2, '0');
	};
	
    function getQuestions(begin, end) {
        return this.data.Questions.slice(begin - 1, end);
    }

    function getOptions(item) {
        return item.split('|');
    }
	
    function getOptionByIndex(item, index) {
        return item.split('|')[index];
    }
	
    function getAnswer(id) {
        return $("#main").data("answers")[id].Answer || '';
    }

    function setAnswer(id, data) {
        var tmp = $("#main").data("answers")[id];
		if(!tmp["Answer"])
		{
			var t = $('#navbar .info em:eq(0)');
			t.text(parseInt(t.text()) + 1);
		}
		if(!data.Answer)
		{
			var t = $('#navbar .info em:eq(0)');
			t.text(parseInt(t.text()) - 1);
		}
        tmp["Answer"] = data.Answer;
    }

    function getAnswerCount(item) {
        return item.match(/_+/g);
    }

    function formatContext(item) {
		if(item) 
		{
			item = item.replace(/\r/g,"");
			item = item.replace(/\[u\]([\w\W]*?)\[\/u\]/ig,"<u>$1</u>");
			item = item.replace(/\[b\]([\w\W]*?)\[\/b\]/ig,"<b>$1</b>");
			item = item.replace(/\[i\]([\w\W]*?)\[\/i\]/ig,"<i>$1</i>");
			return item;
		}
		return "";
    }

 	function submitAnswers(){
		var answers = $("#main").data("answers");
		var did = 0,nodo = 0;
		var first;
		var hasFirst = false;
		for(i in answers)
		{
			if(!answers[i].Answer)
			{
				if(!hasFirst)
				{
					first = answers[i];
					hasFirst = true;
				}
				nodo++;
			}
			else
			{
				did++;
			}
		}
		var confirmStr;
		if(nodo > 0)
		{
			confirmStr = "你做了"+did+"题，共"+(did+nodo)+"题，还有"+nodo+"题没做，确定交卷么？"
		}
		else
		{
			confirmStr = "你已经完成全部试题，确定交卷么？";
		}
		$.jBox.confirm(confirmStr,"确认交卷", 
			function (v, h, f) {
				if (v)
				{
					var models =[];
					for(i in answers)
					{
						var model = {};
						model.QuestionID = answers[i].QuestionID;
						model.GroupID = answers[i].GroupID;
						model.ModuleID = answers[i].ModuleID;
						model.ModuleName = answers[i].ModuleName;
						model.Answer = answers[i].Answer;
						models.push(model);
					}
					$("#key").val(JSON.stringify({ ClassID:141637,LessonID:218956,BookID: 50223,UnitID:2, Time: getTime() }));
				    $("#answers").val(JSON.stringify(models));
				    window.pageClose = 1;
					document.forms[0].submit();
				}
				else
				{
					if(hasFirst)
					{
						var tmplItem = $.tmplItem($("#main .viewModules"));
						if(tmplItem.state.activeIndex != first.ModuleID - 1)
						{
							tmplItem.state.activeIndex = first.ModuleID - 1;
							renderTemplate("#main", "#questionsTmpl", tmplItem.data, tmplItem.state);
						}
						$('body,html').animate({
							scrollTop: $('#question_'+ first.GroupID + '_' + first.QuestionID).offset().top - 36
						}, 600);
						$('#question_'+ first.GroupID + '_' + first.QuestionID).animate({ borderColor: "#fe4a52" }, 400)
						.animate({ borderColor: "transparent" }, 400)
						.animate({ borderColor: "#fe4a52" }, 400)
						.animate({ borderColor: "transparent" }, 400);
					}
				}
				return true; //close
			},
			{ buttons: { '提交': true, '取消': false} }
		);
	}

    function getTime() {
        return new Date().getTime() - parseInt($("body").data("startTime"));
    }
	
    function renderTemplate(container, template, data, state) {
        $(container).empty();
        $(template).tmpl(data, { state: state }).appendTo(container);
    }

    function InitData(data) {
        var answers = { };
        var module = { };
        $.each(data.Modules, function(i, m) {
            for (var l = m.IndexStart; l <= m.IndexEnd; l++) {
                module[l] = { ID: (i + 1), Name: m.ModuleName };
            }
        });
		var qCount = 0;
        $.each(data.Questions, function(i, q) {
			if(q.QuestionType == 7 || q.QuestionType == 8)
			{
				$.each(q.Children, function(j, c) {
					var id = c.GroupID + '_' + c.QuestionID;
					answers[id] = { QuestionID: c.QuestionID, GroupID: c.GroupID, ModuleID: module[i + 1].ID, ModuleName: module[i + 1].Name, Answer:'' };
					qCount++;
				});
			}
			else { 
				var id = q.GroupID + '_' + q.QuestionID;
				answers[id] = { QuestionID: q.QuestionID,  GroupID: 0, ModuleID: module[i + 1].ID, ModuleName: module[i + 1].Name, Answer:'' };
				qCount++; 
			}
        });
		$("#navbar .info em:eq(1)").text(qCount);
        $("#main").data("answers", answers);
    }

    $(function () {
        $.jBox.setDefaults({defaults:{top:'30%'}});
		$.getJSON("http://api.yuliao.hujiang.com/tk/GetUnitQuestions2/50223/2/jsonp?callback=?", null, function (data) {
            InitData(data);
            $("#questionsTmpl").tmpl(data, { state: { activeIndex: 0} }).appendTo("#main");
			$("#loading").hide();
        });
        $("#main").delegate(".viewModules a", "click", function () {
            var tmplItem = $.tmplItem(this);
            tmplItem.state.activeIndex = $(this).index();
            renderTemplate("#main", "#questionsTmpl", tmplItem.data, tmplItem.state);
        });
        $("#main").delegate(".title .module_cbtn a", "click", function () {
            var tmplItem = $.tmplItem(this);
			if($(this).hasClass("limit")) return;
            tmplItem.state.activeIndex += parseInt($(this).attr("action"));
            renderTemplate("#main", "#questionsTmpl", tmplItem.data, tmplItem.state);
        });
        $("#main").delegate(".previewQuestion .options input", "click", function () {
            var tmplItem = $.tmplItem(this);
            setAnswer($(this).attr('name'), { Answer: $(this).val() });
            tmplItem.update();
        });

        $("#main").delegate(".previewQuestion .answers input", "blur", function () {
            var tmplItem = $.tmplItem(this);
            setAnswer($(this).attr('name'), { Answer: $(this).val() });
            tmplItem.update();
        });
        
        $("#main").delegate(".question_audio div", "click", function () {
            $(this).html($("#questionsTmplAudio").tmpl($("img", this).attr("data-audio")));
        });
        
        $(window).scroll(
			function () {
			    if ($(window).scrollTop() > $("#main").offset().top) {
			        $("#container").addClass('sticky');
			    }
			    else {
			        $("#container").removeClass('sticky');
			    }
			}
		);
		var start = new Date().getTime();
		setInterval(function (){
			var diff = new Date(new Date().getTime() - start);
			$("#navbar .time em").text(diff.getSpanString());
		},1000);
		$("body").data("startTime", start);
    });
	
	
</script>
<script type="text/x-jquery-tmpl" id="questionsTmpl">
	{{wrap($data, {state: $item.state}) "#questionsWrap"}}
		{{each(i,module) Modules}}
			<span>${module.ModuleName}</span>
			<div class="previewModuleContext">${module.ModuleContext}</div>
			<div class="previewQuestions" id="question_preview">
				{{each getQuestions(module.IndexStart, module.IndexEnd)}}
					<div class="previewQuestion" id="question_${GroupID}_${QuestionID}">
					  <div class="question_index">${$index + 1}.</div>
					  <pre class="question_cxt">{{html formatContext(Context)}}</pre>
					  {{if ContextImage}}
						<div><img class="question_image" src="${ContextImage}" /></div>
					  {{/if}}
			          {{if ContextAudio}}
				          <div class="question_audio"><div class="fl"><img src="http://res.c.hjfile.cn/images/ico_audio.gif" data-audio="${ContextAudio}" alt=""/></div><div class="clear"></div></div>
			          {{/if}}
					  {{if QuestionType == 1}}
							{{tmpl($value, null) "#questionsTmplChoice"}}
					  {{else QuestionType == 2}}
							{{tmpl($value, null) "#questionsTmplBlank"}}
					  {{else QuestionType == 7 || QuestionType == 8}}
							{{tmpl(Children, null) "#questionsTmplReading"}}
					  {{/if}}
					</div>
					<div class="hr"></div>
				{{/each}}
					
			</div>
		{{/each}}
	{{/wrap}}
</script>
<script type="text/x-jquery-tmpl" id="questionsWrap">
	<div class="title">
		<h2>初级水平测试</h2>
	</div>
	<div class="viewModules ${Modules.length === 1 ? 'hide' : ''}">
		{{each $item.html("span", true)}}
			<a href='javascript:;' class='${$index === $item.state.activeIndex ? "on": ""}'><span>${$value}</span></a>
		{{/each}}
	</div>
	{{html $item.html("div.previewModuleContext")[$item.state.activeIndex]}}
	{{html $item.html("div.previewQuestions")[$item.state.activeIndex]}}
	<div class="title">
	     <p class="module_cbtn">
            <a href="javascript:" class='${$item.state.activeIndex === 0 ? "limit": ""}' action="-1">上一部分</a>
            <a href="javascript:" class='${$item.state.activeIndex === (Modules.length - 1) ? "limit": ""}' action="1">下一部分</a>
        </p>
	</div>
	
</script>
<script type="text/x-jquery-tmpl" id="questionsTmplChoice">
	<ul class="options">
	{{each getOptions(Options)}}
		<li>
			<label><input type="radio" name="${GroupID + '_' + QuestionID}" value="${$index+1}" ${ ($index+1) == getAnswer(GroupID + '_' + QuestionID) ? "checked='checked'" : ""}>&nbsp;${$value}</label>
			{{if getOptionByIndex(OptionsImage, $index)}}
				<div><img class="question_image" src="${getOptionByIndex(OptionsImage, $index)}" /></div>
			{{/if}}
			{{if getOptionByIndex(OptionsAudio, $index)}}
				<div class="question_audio"><div class="fl"><img src="http://res.c.hjfile.cn/images/ico_audio.gif" data-audio="${getOptionByIndex(OptionsAudio, $index)}" alt=""/></div><div class="clear"></div></div>
			{{/if}}
		</li>
	{{/each}}
	</ul>
</script>
<script type="text/x-jquery-tmpl" id="questionsTmplBlank">
	<ul class="answers">
		<li>答案：<input type="text" name="${GroupID + '_' + QuestionID}" value="${getAnswer(GroupID + '_' + QuestionID)}" /></li>
	</ul>
</script>
<script type="text/x-jquery-tmpl" id="questionsTmplReading">
	<div class="previewQuestion" id="question_${GroupID}_${QuestionID}">
	  <div class="question_index">${QuestionIndex})</div>
	  <pre class="question_cxt">{{html formatContext(Context)}}</pre>
	  {{if ContextImage}}
		<div><img class="question_image" src="${ContextImage}" /></div>
	  {{/if}}
	  {{if ContextAudio}}
		  <div class="question_audio"><div class="fl"><img src="http://res.c.hjfile.cn/images/ico_audio.gif" data-audio="${ContextAudio}" alt=""/></div><div class="clear"></div></div>
	  {{/if}}
	  {{if QuestionType == 1}}
		{{tmpl($data, { isChild : 1 }) "#questionsTmplChoice"}}
	  {{/if}}
	</div>
	<div class="hr"></div>
</script>
<script type="text/x-jquery-tmpl" id="questionsTmplAudio">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,22,0" width="200" height="20" align="absmiddle">
	<param name="allowScriptAccess" value="always">
	<param name="movie" value="http://bulo.hujiang.com/musicbox/players/singlemp3player/singlemp3player.swf">
	<param name="quality" value="high"><param name="scale" value="noscale">
	<param name="wmode" value="transparent">
	<param name="FlashVars" value="file=${$data}&amp;backColor=FFFFFF&amp;frontColor=000000&amp;autoStart=true&amp;showDownload=false&amp;width=200&amp;height=20">
	<embed src="http://bulo.hujiang.com/musicbox/players/singlemp3player/singlemp3player.swf" quality="high" scale="noscale" wmode="transparent" bgcolor="#eeeeee" width="200" height="20" align="absmiddle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="file=${$data}&amp;backColor=FFFFFF&amp;frontColor=000000&amp;autoStart=true&amp;showDownload=false&amp;width=200&amp;height=20">
	</object>
</script>